ul {
    width:100%;
    height: fit-content;
    display: flex;
justify-content: center;
list-style: none;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 400;
font-size: 1.5em;
margin-top: 30px;

}

ul li span{
    background-color: antiquewhite ;
    margin-left: 15px;
    margin-right: 25px;    
    padding: 2px 15px;
    
}

input[type="number"] {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pagination:host::before{
content: "pages?";
}