
<h1>Browse among our Most Popular Products</h1>
<ul><li *ngFor="let pageLink of pagesKeys;index as i"> 
    <span (click)="showPage(i)">{{pageLink}}</span>
</li>
<li>
<input type="tel" id="pagination" [(ngModel)]="productPerPage" placeholder="products per page">
</li>
</ul>

<app-product-card *ngFor="let product of currentProductsShown " [produit]="product"></app-product-card>
<ul><li *ngFor="let pageLink of pagesKeys;index as i"> 
    <span (click)="showPage(i)">{{pageLink}}</span>
</li>
<li>
<input type="tel" id="pagination" [(ngModel)]="productPerPage">
</li>
</ul>
