<form>
    <fieldset>
        <legend>Filter by Title or Description</legend>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" [(ngModel)]="title"><br>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" [(ngModel)]="description"><br>
    </fieldset>
    <fieldset>
        <legend>Price Range</legend>
        <label for="minPrice">Minimum Price:</label>
        <input type="range" id="minPrice" name="minPrice" [min]="minPrice" [max]="maxPrice" step="30" [(ngModel)]="currentMinPrice">
        <output for="minPrice">{{currentMinPrice}}</output><br>
        <label for="maxPrice">Maximum Price:</label>
        <input type="range" id="maxPrice" name="maxPrice" [min]="minPrice" [max]="maxPrice" step="30" [(ngModel)]="currentMaxPrice">
        <output for="maxPrice">{{currentMaxPrice}}</output><br>
    </fieldset>
    <fieldset>
        <legend>Minimum Rating</legend>
        <label for="minRating">Minimum Rating:</label>
        <input type="range" id="minRating" name="minRating" min="0" max="5" step="0.5" [(ngModel)]="minRate">
        <output for="minRating">{{minRate}}</output><br>
    </fieldset>
    <fieldset>
        <legend>Category</legend>
        <label for="category">Category:</label>
        <select id="category" name="category">
            <option value="category1">Category 1</option>
            <option value="category2">Category 2</option>
            <option value="category3">Category 3</option>
        </select><br>
    </fieldset>
    <div class="submitContainer">
    <button type="submit" (click)="applyFilters()"> Filter your products</button>
</div>
</form>
