/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 95%);
}

app-content{
    display:flex;

}

app-main-content{
    flex: 7 7 auto;
}

app-side-content{

    flex: 3 3 auto;
}